/* 吹き出しウィンドウ */
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-obs.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-scrollbar.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/board.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/boardBackground.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/chat.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/cutIn.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/edit.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/header.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/modal.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/monitoring.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/newDice.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/scaling.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/status.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/timer.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/volume.css");

:root {
    --image-width: 240px;
    --image-height: 240px;
    --background-color: rgb(0, 0, 0);
    --font-color: rgb(255, 255, 255);
    --font-color-dice: rgba(255, 255, 255, 0.7);
    --font-color-success: rgb(33, 150, 243);
    --font-color-failure: rgb(245, 0, 87);
    --font-size-text: 1.5rem;
    --font-size-name: 1.2rem;
}

/* カスタム用 */
div[tabindex="0"] > .MuiPaper-root {
    background-color: transparent;
    left: 30px;
    right: 30px;
    bottom: 20px;
    margin: 0px;
    overflow: visible;
    z-index: 100;
}

/* アイコン */
.MuiPaper-root > img {
    display: block;
    right: calc(var(--image-width) / 2);
    bottom: calc(var(--image-width) / 2);
    width: var(--image-width);
    height: var(--image-height);
    margin: 0px;
    border: 0px;
    object-fit: cover;
    object-position: top;
    z-index: 200;
}
.MuiPaper-root > img[src=""] {
    display: none;
}

.MuiPaper-root > .MuiPaper-root {
    width: 960px;
    height: 240px;
    margin: 0px;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 0px;
    padding: 8px 12px;
    background: var(--background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 300;
}
.MuiPaper-elevation1 {
    box-shadow: var(--balloon-border-shadow);
}

/* 名前 */
.MuiTypography-subtitle2 {
    display: block;
    font-size: var(--font-size-name);
    color: var(--font-color);
}

/* ダイス結果 */
.MuiTypography-body2 {
    display: block;
    font-size: var(--font-size-name);
    color: var(--font-color);
}

/* ダイス結果 (成功) */
.css-1l6qhgm {
    color: var(--font-color);
    text-shadow: var(--font-color-success);
}

/* ダイス結果 (失敗) */
.css-1j13mke {
    color: var(--font-failure);
    text-shadow: var(--font-color-success);
}

/* 本文 */
.MuiTypography-body1 {
    font-size: var(--font-size-text);
    color: var(--font-color);
}

/* ダイス */
.MuiPaper-root > .MuiPaper-root > div:nth-child(1) {
    margin-bottom: var(--image-margin);
}

/* ボタンは非表示に */
[aria-label="スキップ"] { display: none; }
[aria-label="閉じる"] { display: none; }